<fieldset>

  <% fields.forEach(function(field){ %>
    <section>
      <label class="label"><%= field.layout.label %></label>
      <label class="input state-disabled">
      <input type="text" name="<%= field.name %>" placeholder="" v-model="data.item.<%= field.name %>" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入<%= field.layout.label %></b></label>
    </section>
  <% }); %>

</fieldset>
<script>

</script>
